/*-- About Page --*/
/* the navigation*/
body{
    background-color: #3C5B6F;
}

nav{
    background-color:#153448;
    box-shadow: 3px 3px 5px rgba(107, 98, 98, 0.288);
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
}
nav li{
    height: 50px; 
}
nav a {
    height: 100%;
    padding: 20px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;   
}
nav a:hover{
    background-color: #386c7c00;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-text h1{
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
}
.nav-text h1 span{
    color: #DFD0B8;
    text-decoration: none;
    font-size: 25px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a::after {
    content: '';
    width: 20%;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
    background: #DFD0B8;   
}
nav li:first-child {
    margin-right: auto;
}
/* the postion of the logo */
.logo{
    width: 150px;
    position: relative;
    padding-left: 50px;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    background-color: #22868d3f;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
@media (max-width: 800px){
    /* this here tells us the sceen with less then 800pixel wont be dispalyed*/
    .hideOnMoblie{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
/* we making another @media so that the sidebar will be an entire width in smart fones*/
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
/*it ends here*/
.aboutNav{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
    margin: 0;
    padding: 0;  
    background-color: #3C5B6F;
    /* background: linear-gradient(#226a8000, rgba(0, 0, 0, 0.582)) , url(../MZAMOMSTSHA-CntrlAltElite/picFolder/marek-piwnicki-AYueVudpWgo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; */
}

.aboutUs {
    color: rgb(223, 208, 184);
    padding: 10px 0;
    text-align: center;
}

/*-- The headding--*/
.top h1, .aboutUs h2{
    margin: 0;
    padding: 0.5em 0;
    color: rgb(223, 208, 184);
    text-transform: uppercase;
}

.top h1 {
    font-size: 2.5em;
    text-align: center;
}
.aboutUs h2{
    font-size: 2em;
    text-align: center;
    
}
/*-- The conyent background--*/
.aboutUs {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.507);
    background: rgb(21, 52, 72);
   
}
/*-- The text--*/
.aboutUs p {
    margin: 10px 0;
    font-size: 1.2em;
    color: rgb(148, 137, 121);
}



/* every thing that has to do with the footer is here*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
    color: #ffffff;
}
.homeFooter{
    background-color: #153448;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #DFD0B8;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
/* we are now styling the content befre the actual content of the selected element that is h4*/
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #948979;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #948979;
	/* text-decoration: none; */
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #948979;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #153448;
	background-color: #DFD0B8;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.text-center_p-3{
    position: relative;
    justify-content: center;
    text-align: center;
    color: #DFD0B8;
}

.sub-title {
    color: rgb(223, 208, 184);
    font-family: "Sevillana", cursive;
    font-size: 35px;
}
.work-list{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.work p{
    color: rgb(21, 52, 72);
}
.work h3{
    color: rgb(21, 52, 72);
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 1s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient( rgb(223, 208, 184), rgba(148, 137, 121, 0.822));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 1s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #DFD0B8;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #153448;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: flex;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #153448;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(223, 208, 184);
    transition: background 1s;
}
.btn:hover {
    background: rgb(223, 208, 184);
    color: rgb(21, 52, 72);
}