
/*-- Home Page --*/
#homePage{
    width: 100%;
    background: linear-gradient(rgba(10, 66, 77, 0.541), #1cabe4a6) , url(../MZAMOMSTSHA-CntrlAltElite/picFolder/pexels-pixabay-268533.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.flex-container{
    height: 80px;
    text-align: center;
    align-content: space-between;
    background: linear-gradient(rgba(243, 240, 240, 0.212), #1cabe46e) , url(../MZAMOMSTSHA-CntrlAltElite/picFolder/kelli-tungay-2LJ4rqK2qfU-unsplash.jpg);
    background-size: cover;
    background-position: top;
    border: 1px solid black ;
}

/*-- Logo --*/
.logo{
    width: 200px;
    position: absolute;
    top: 1%;
    right: 4%;
}
a{
    color: black;
    font-size: 20px;
    font-family: "Apple Chancery", cursive;
}
h1{
    background: linear-gradient(rgba(243, 240, 240, 0.212), #1cabe46e) , url(../MZAMOMSTSHA-CntrlAltElite/picFolder/kelli-tungay-2LJ4rqK2qfU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    font-family: "Kaushan Script", cursive;
    font-style: normal;
}
 p{
    color: white;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    font-family: "Rubik Scribble", system-ui;
}

/*-- About Page --*/



/*-- contact Page --*/
