
/*-- Home Page --*/
/* -- removing the default padding and margins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.homepage{
    background-color: #3C5B6F;
}
.screen{
    height: 70vh;
    overflow: hidden;
}
.navdisplay{
    display: flex !important;
    justify-content: space-evenly !important;
    flex-direction: row;
    flex-basis: auto;  
}

nav{
    background-color:#153448;
    box-shadow: 3px 3px 5px rgba(107, 98, 98, 0.288);
}
nav h1{
    color:  #DFD0B8;
    text-decoration: none;
    font-size: 30px;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
}
nav li{
    height: 50px; 
}

nav a {
    height: 100%;
    padding: 20px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:#fceded;
}
nav a:hover{
    background-color: #386c7c00;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 15px;
}
.nav-text {
    margin-top: 5px;
}
.nav-text h1{
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
}
.nav-text h1 span{
    color:  #DFD0B8;
    text-decoration: none;
    font-size: 25px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a::after {
    content: '';
    width: 20%;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
    background: #DFD0B8;   
}
nav li:first-child {
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    background-color: #22868d3f;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
@media (max-width: 800px){
    /* this here tells us the sceen with less then 800pixel wont be dispalyed */
    .hideOnMoblie{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
/* we making another @media so that the sidebar will be an entire width in smart fones*/
 @media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
} 

/* the postion of the logo */
.logo{
    width: 150px;
    position: relative;
    padding-right: 50px;
}
/* the nagivation ends here


/* ----------- About section--------- */

.about{
    padding: 80px 0;
    height: 80vh;
    background-color: #153448;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    margin-top: 5%;
}
.about-col-2 {
    flex-basis: 60%;
    margin-top: 10%;
    color: #ffffff;
}
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #DFD0B8;
    margin-top: 5%;
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    color: #948979;

}
.tab-titles p {
    font-size: 25px;
    font-weight: 300;
}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #DFD0B8;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #948979;
    font-size: 18px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ----------- Services section--------- */

#services{
    padding: 30px 0;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.service-list div{

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.507);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
}
.service-list div i{
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 30px;
    transition: all 0.5s ease;
}

.service-list div p{
    font-size: 20px;
    color: #DFD0B8 ;
    transition: all 0.5s ease;
}
.service-list div h2{
    font-size: 30px;
    color: #ffffff ;
    font-weight: 500;
    margin-bottom: 15px;
    transition: all 0.5s ease;
}
.service-list div a{
    text-decoration: none;
    color: #948979 ;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.5s ease;
}

.service-list div:hover{
    background: #153448;
    transform: translateY(-10px); 
    i {
        color: #DFD0B8 ;
    }
    h2 {
        color: #DFD0B8 ;
        letter-spacing: 1px;
    }
    p {
        color: #ffffff;
    }
    a {
        color: #ffffff;
        font-size: 16px;
    }       
}
/* ----------- About section--------- */
.Top-aachievers-section{
    padding: 50px 0;
}
.work-list{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 15px;
    width: 85%;
    height: 85%;
    position: relative;
    overflow: hidden;
}
.work p{
    color: #ffffff;
}
.work h3{
    color: #ffffff;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 1s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient( rgba(148, 137, 121, 0.726), rgba(21, 52, 72, 0.925));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 1s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #DFD0B8;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #153448;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.main-slider-scrollbar .main-scrollbar-track{
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}
.main-slider-scrollbar:hover .main-scrollbar-track{
    height: 4px;
}
.main-slider-scrollbar .main-scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background: #11d6f0;
    border-radius: inherit;
    cursor: grab;
}
.main-slider-scrollbar .main-scrollbar-thumb:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;
}
.main-slider-scrollbar .main-scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

@media screen and (max-width:770px){
    .single-service img{
        flex-basis: 100% ;
        margin-bottom: 30px;
    }
    .servicedesc p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .single-service:hover .servicedesc{
        bottom: 25% !important;
    }
    
}

/*-- Responsive styles --*/
@media (max-width: 960px){
 
    .navPart .logo{
        position: relative;
        width: 150px;
    }

    .homeContent .info h2{
        font-size: 45px;
        line-height: 50px;
    }
    .homeContent .info h2 span{
        font-size: 40px;
        font-weight: 600;
    }
}

.dineo{
    position: absolute;
    left: 80%;
    bottom: 30%; 
}
.ora{
    position: absolute;
    right: 80%;
    bottom: 30%; 
}
/*-- contact Page --*/

.contact-body{
    background: linear-gradient(#30829bc4,#226a808e) , url(../MZAMOMSTSHA-CntrlAltElite/picFolder/tim-gouw-KigTvXqetXA-unsplash.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}
.gradient-brand-color {
    background-image: -webkit-linear-gradient(0deg, #153448 0%, #153448 100%);
    background-image: -ms-linear-gradient(0deg, #226a808e 0%, #226a808e 100%);
    color: #fff;
}
.contact-info__wrapper {
    overflow: hidden;
    border-radius: .625rem .625rem 0 0
}

@media (min-width: 1024px) {
    .contact-info__wrapper {
        border-radius: 0 .625rem .625rem 0;
        padding: 5rem !important 
    }
}
.contact-info__list span.position-absolute {
    left: 0
}
.z-index-101 {
    z-index: 101;
}
.list-style--none {
    list-style: none;
}
.contact__wrapper {
    background-color: #fff;
    border-radius: 0 0 .625rem .625rem
}

@media (min-width: 1024px) {
    .contact__wrapper {
        border-radius: .625rem 0 .625rem .625rem
    }
}
@media (min-width: 1024px) {
    .contact-form__wrapper {
        padding: 5rem !important
    }
}
.shadow-lg, .shadow-lg--on-hover:hover {
    box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
}
/* every thing that has to do with the footer is here*/

body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    padding:0;
}
.container{
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
}
ul {
    list-style: none;
    color: #ffffff;
}
.homeFooter{
    background-color: #153448;
    padding: 70px 0;
    
}
.footer-col{
    width: 25% !important;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #DFD0B8;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
/* we are now styling the content befre the actual content of the selected element that is h4*/
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #948979;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #948979;
	/* text-decoration: none; */
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #948979;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #153448;
	background-color: #DFD0B8;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.text-center_p-3{
    position: relative;
    justify-content: center;
    text-align: center;
    color: #DFD0B8;
}

