
/*-- Home Page --*/
*{
    margin: 0;
    padding: 0;
 }
 .topBox{
     position: relative;
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     background: linear-gradient(rgba(255, 255, 255, 0.699),#226a80a2) , url(../MZAMOMSTSHA-CntrlAltElite/picFolder/pexels-pixabay-268533.jpg);
     background-size: cover;
     background-position: center;
 }
 .navPart{
    position: relative;
    display: flex;
    justify-content: space-around ;
    align-items: flex-start;
     
 }
 .navPart .logo{
     position: relative;
     width: 200px;
     margin: 50px ; 
     margin-right: 1%;
     left: 4%;
     top: 4%;  
 }
 .homeContent{
    width: 50%;
    max-width: 500px;
    margin: 50px ; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.homeContent .info h2{
    color: #226A80;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}
.homeContent .info h2 span{
    color: #fff;
    font-size: 60px;
    font-weight: 600;
}
.homeContent .info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}
.homeContent .homeBtns{
    color: #fff;
    background: #226A80;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
}
.homeContent .homeBtns:hover{
    background: white;
    color: black;
}
.info{
    flex-basis: 45%;
    margin-bottom: 20px;
    text-align: left;   
}
.rightContent {
    position: relative;
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4%;

}
/*--The container on the right side of the main page--*/
.title-text{
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 350;
    letter-spacing: 2px;
    line-height: 30px;
    margin-bottom: 15px;
}
/*--Container title text--*/
.service_box{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    align-self: center;
    justify-content: space-between;
}
/*--Contents inside the container--*/
.single-service{
    flex-basis: 50%;
    text-align: center;
    border-radius: 7px ;
    color: #00000057;
    position: relative;
}
/*-- The picture--.*/
.single-service img{    
    width: 50%;
    border-radius: 7px;    
    width: 350px; 
    height: 250px;
    object-fit: cover; 
}
/*--The background effect of the picture(s).--*/
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.952),#226a80ea);
    opacity: 0;
    transition: 1s;
}
/*--The hover effect of the picture(s).--*/
.single-service:hover .overlay{
    opacity: 1;
}
/*--To make the headdings of the service desc to be visible.--*/
.servicedesc h3{ 
    color: aliceblue;
}
/*--To text effect of the service description.--*/
.servicedesc{
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 10px auto;
    width: 50%;
}
.servicedesc p{
    font-size: 17px;
}
.single-service:hover .servicedesc{
    bottom: 20%;
    color: rgb(255, 255, 255);
    opacity: 1;
}
/*contact logo*/

@media screen and (max-width:770px){
    .single-service img{
        flex-basis: 100% ;
        margin-bottom: 30px;
    }
    .servicedesc p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .single-service:hover .servicedesc{
        bottom: 25% !important;
    }
}
 .media-icons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}
.media-icons a{
    position: relative;
    color: #ffffff;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}
.media-icons a:not(:last-child){
    margin-right: 60px;
}
.media-icons a:hover{
    transform: scale(1.5);
}
.homeFooter {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.homeFooter p {
    margin: 0; 
    font-size: 15px;  
}

/*-- Responsive styles --*/
@media (max-width: 960px){
 
    .navPart .logo{
        position: relative;
        width: 150px;
        top: 4%;
        left: 4%;
    }
    .homeContent .logo{
        position: absolute;
        bottom: -6px;
    }
    .homeContent .info h2{
        font-size: 45px;
        line-height: 50px;
    }
    .homeContent .info h2 span{
        font-size: 40px;
        font-weight: 600;
    }
}
/*-- About Page --*/
.aboutBody{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
    margin: 0;
    padding: 0;  
    background: linear-gradient(rgba(0, 0, 0, 0.699),#226a80a2) , url(../MZAMOMSTSHA-CntrlAltElite/picFolder/pexels-pixabay-268533.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.aboutBody p{
    color: aliceblue;
}
.aboutUs {
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
/*-- The Home button--*/
.butttonHome a{
    color: black;
    background: #ffffff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
 }
 .butttonHome{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 100px ;
 }
 .butttonHome a:not(:last-child){
     margin-right: 30px;
 }
 .butttonHome a:hover{
    background: #226A80;
    color: #fff;
 }
/*-- The headding--*/
.top h1, .aboutUs h2{
    margin: 0;
    padding: 0.5em 0;
    color: aliceblue;
}

.top h1 {
    font-size: 2.5em;
    text-align: center;
}
.aboutUs h2{
    font-size: 2em;
    text-align: center;
}
/*-- The conyent background--*/
.aboutUs {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    /* background: #fff; */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.507);
}
/*-- The text--*/
.aboutUs p {
    margin: 10px 0;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
}

.aboutUsFooter {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.aboutUsFooter p {
    margin: 0;   
}
/*-- contact Page --*/

.contact-body{
    margin-top:20px;
    background: linear-gradient(rgba(0, 0, 0, 0.699),#226a80a2) , url(../MZAMOMSTSHA-CntrlAltElite/picFolder/pexels-pixabay-268533.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
.gradient-brand-color {
    background-image: -webkit-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
    background-image: -ms-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
    color: #fff;
}
.contact-info__wrapper {
    overflow: hidden;
    border-radius: .625rem .625rem 0 0
}

@media (min-width: 1024px) {
    .contact-info__wrapper {
        border-radius: 0 .625rem .625rem 0;
        padding: 5rem !important
    }
}
.contact-info__list span.position-absolute {
    left: 0
}
.z-index-101 {
    z-index: 101;
}
.list-style--none {
    list-style: none;
}
.contact__wrapper {
    background-color: #fff;
    border-radius: 0 0 .625rem .625rem
}

@media (min-width: 1024px) {
    .contact__wrapper {
        border-radius: .625rem 0 .625rem .625rem
    }
}
@media (min-width: 1024px) {
    .contact-form__wrapper {
        padding: 5rem !important
    }
}
.shadow-lg, .shadow-lg--on-hover:hover {
    box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
}